<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <h4>Name: <%= user.name %></h4>
          </div>
          <div class="profile-link">
            <% if current_user == user %>
              <%= link_to 'My Profile',  user_path(user) %>
            <% else %>
              <%= link_to 'See Profile',  user_path(user) %>
            <% end %>
          </div>
          <div class="user-index-buttons">
            <% if current_user == user %>
              <%= link_to "Edit my profile", user_path(user), class: 'edit-profile-button' %>
            <% elsif confirmed_friend(user) %>
              <%= link_to "Friends", user_path(user), class: 'confirmed-friend-button' %>
            <% elsif request_pending_for(user) %>
              <%= link_to "Request Pending", user_path(user), class: 'pending-request-button' %>
            <% else %>
              <%= button_to 'Add Friend', { :controller => 'friendships', action: 'create', :user_id => user.id }, :method => :post, 'data-turbolinks-scroll': false, class: 'add-friend-button' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</section>
