<section class="users-section">
  <ul class="users-list">
    <li>
      <div class="users-list-card">
        <div>
          <%= gravatar_for(current_user) %>
          <h4>Name: <%= current_user.name %></h4>
        </div>
        <div class="profile-link">
          <%= link_to 'My Profile',  user_path(current_user) %>
        </div>
        <div class="user-index-buttons">
          <%= link_to "Edit my profile", user_path(current_user), class: 'edit-profile-button' %>
        </div>
      </div>
    </li>
    <% @all_friends.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <%= gravatar_for(user) %>
            <h4>Name: <%= user.name %></h4>
          </div>
          <div class="profile-link">
            <%= link_to 'See Profile',  user_path(user) %>
          </div>
          <div class="user-index-buttons">
            <%= user_index_buttons(user) %>
          </div>
        </div>
      </li>
    <% end %>
    <% @invited_requests.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <%= gravatar_for(user) %>
            <h4>Name: <%= user.name %></h4>
          </div>
          <% if confirmed_friend(user) %>
            <div class="profile-link">
              <%= link_to 'See Profile',  user_path(user) %>
            </div>
          <% end %>
          <div class="user-index-buttons invited-buttons">
            <%= invited_requests_buttons(user) %>
          </div>
        </div>
      </li>
    <% end %>
    <% @pending_requests.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <%= gravatar_for(user) %>
            <h4>Name: <%= user.name %></h4>
          </div>
          <div class="profile-link">
            <%= link_to 'See Profile',  user_path(user) %>
          </div>
          <div class="user-index-buttons">
            <%= user_index_buttons(user) %>
          </div>
        </div>
      </li>
    <% end %>
    <% @non_friends.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <%= gravatar_for(user) %>
            <h4>Name: <%= user.name %></h4>
          </div>
          <div class="profile-link">
            <%= link_to 'See Profile',  user_path(user) %>
          </div>
          <div class="user-index-buttons">
            <%= user_index_buttons(user) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</section>
