<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <div class="users-list-card">
          <div>
            <h4>Name: <%= user.name %></h4>
          </div>
          <div class="profile-link">
            <% if current_user == user %>
              <%= link_to 'My Profile',  user_path(user), class: 'profile-link invite-button' %>
            <% else %>
              <%= link_to 'See Profile',  user_path(user), class: 'profile-link invite-button' %>
            <% end %>
          </div>
          <div>
            <% if current_user == user %>
              <%= link_to "Edit my profile", user_path(user), class: 'invite-button' %> 
            <% elsif @friend %>
              <button>Friends</button>
            <% else %>
              <%= link_to("Add as a friend", '#', class: 'invite-button') %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</section>
