<section class="user-section">
  <div class="user-show-name-invite">
    <div>
      <%= gravatar_for(@user) %>
    </div>
    <div class="user-name-btns">
      <h2><%= "Name: #{@user.name}" %></h2>
      <div class="user-friend-buttons">
        <% if confirmed_friend(@user) %>
          <%= link_to "Friends", user_path(@user), class: 'confirmed-friend-button' %>
        <% elsif request_pending_for(@user) %>
          <%= link_to "Request Pending", user_path(@user), class: 'pending-request-button' %>
        <% else %>
          <%= button_to 'Add Friend', { :controller => 'friendships', action: 'create', :user_id => @user.id }, :method => :post, 'data-turbolinks-scroll': false, class: 'add-friend-button' %>
        <% end %>
      </div>
    </div>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
