<section class="user-section">
  <div class="user-show-name-invite">
    <div>
      <%= gravatar_for(@user) %>
    </div>
    <div class="user-name-btns">
      <h2><%= "Name: #{@user.name}" %></h2>
      <div class="user-friend-buttons">
        <% if confirmed_friend(@user) %>
          <%= link_to "Friends", user_path(@user), class: 'confirmed-friend-button' %>
        <% elsif request_pending_for(@user) %>
          <%= link_to "Friend Request Pending", user_path(@user), class: 'pending-request-button' %>
        <% elsif request_pending_from(@user) %>
          <div class="user-show-ad-btns">
            <%= button_to 'Accept', { :controller => 'friendships', action: 'update', :user_id => @user.id, :id => @user.friendships, response: true }, :method => :patch, class: 'add-friend-button accept-button' %>
            <%= button_to 'Decline', { :controller => 'friendships', action: 'update', :user_id => @user.id, :id => @user.friendships, response: false }, :method => :delete, data: { confirm: 'Are you sure?' }, class: 'add-friend-button decline-button' %>
          </div>
        <% else %>
          <%= button_to 'Add Friend', { :controller => 'friendships', action: 'create', :user_id => @user.id }, :method => :post, class: 'add-friend-button' %>
        <% end %>
      </div>
    </div>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
