<div class="new-post-container">
  <h3><%= new_post_title_sampler %></h3>
  <%= form_for(@post) do |form| %>
    <%= form.label :content %>
    <%= form.text_field :content, id: :post_content, class: 'form-control', placeholder: 'Post Something New...' %>
    <% if @post.errors.full_messages.any? %>
      <p class="errors">
        <%= "Post could not be saved. #{@post.errors.full_messages.join('. ')}" %>
      </p>
    <% end %>
    <%= form.submit 'Post', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="timeline-container">
  <article class="timeline">
    <h3>Latest Posts</h3>
    <ul class="posts">
      <%= render @timeline_posts %>
    </ul>
  </article>
</div>
