<ul>
  <% @pending_requests.each do |u| %>
    <li>
      <div class="nav-non-friends-container">
        <%= gravatar_for(u) %>
        <%= link_to "#{u.name}", user_path(u), class: 'name' %>
        <div class="user-nav-buttons">
          <% if confirmed_friend(u) %>
            <%= link_to "Friends", user_path(u), class: 'confirmed-friend-button' %>
          <% elsif request_pending_for(u) %>
            <%= link_to "Request Pending", user_path(u), class: 'pending-request-button' %>
          <% else %>
            <%= button_to 'Add Friend', { :controller => 'friendships', action: 'create', :user_id => u.id }, :method => :post, 'data-turbolinks-scroll': false, class: 'add-friend-button' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>